<main class="main">
  <h1 class="main__title">
    Welcome to <span class="main__span">Clicker game!</span>
  </h1>
  <label class="main__label">
    Plase enter your name:
    <input
      #userName
      class="main__input"
      type="text"
      placeholder="Maksym"
      required
      (keydown.enter)="onKeydownEnter($event)"
    />
    <button
      (click)="getUserName(userName.value)"
      class="main__button button"
      type="button"
    >
      play
    </button>
  </label>
</main>
