.main {
  max-width: 1170px;
  margin: 0 auto;
}
.main__title {
  text-align: center;
}
.main__span {
  color: rgba(20, 191, 218, 0.667);
}
.main__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.main__input {
  margin: 10px 0;
}
.main__button {
  text-align: center;
  text-transform: uppercase;
  width: 80px;
  margin: 10px auto;
  font-weight: 600;
  cursor: pointer;
}
