@import "../../styles.scss";
.finish {
  &__message {
    border: 2px solid $main-black;
    text-align: center;
    font-size: 22px;
    margin: 20px auto;
    width: 50%;
  }
  &__span {
    font-size: 18px;
    font-weight: 700;
  }
  &__username {
    color: $main-blue;
    font-weight: 700;
  }
  &__buttons {
    margin: 20px auto;
    width: 300px;
  }
}
.button {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  width: 115px;
  margin: 10px;
}
.highscores {
  &__list {
    list-style-type: none;
    padding: 0;
    border: 2px solid $main-black;
    width: 65%;
    margin: 0 auto;
  }
  &__lt {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid $main-black;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid $main-white;
  }
  &__head {
    width: 25%;
    padding: 5px;
  }
  &__rating {
    background-color: rgb(37, 196, 214);
  }
  &__clicks {
    background-color: rgb(53, 213, 231);
  }
  &__name {
    background-color: rgb(85, 226, 241);
  }
  &__date {
    background-color: rgb(166, 243, 252);
  }
  &__date,
  &__name,
  &__clicks,
  &__rating,
  &__head {
    width: 25%;
    padding: 5px 0;
    font-size: 15px;
  }
}
