@import "../../styles.scss";
.clicker__result {
  border: 2px solid $main-black;
  text-align: center;
  font-size: 22px;
  margin: 20px auto;
  width: 50%;
}
.clicker__span {
  font-size: 18px;
  font-weight: 700;
}

.clicker__username {
  color: $main-blue;
  font-weight: 700;
}
