<div class="clicker">
  <div *ngIf="!gameFinished" class="clicker__total">
    <span class="clicker__span">Total clicls:</span> {{ totalClicks }}
  </div>
  <div
    [ngClass]="{
      'clicker__controller--size-default': controlerSize.start,
      'clicker__controller--size-30': controlerSize.upper,
      'clicker__controller--size-60': controlerSize.advanced,
      'clicker__controller--size-90': controlerSize.pro,
      'clicker__controller--size-120': controlerSize.god,
      'clicker__controller--is-disabled': gameFinished
    }"
    class="clicker__controller"
    (click)="startGame()"
  >
    <span class="clicker__text">{{ state }}</span>
  </div>
  <div *ngIf="gameFinished" class="clicker__result">
    <span class="clicker__username">{{ userName }}</span
    >, you clicked
    <span class="clicker__span">{{ totalClicks }} times </span>for 10 second!
  </div>
  <div *ngIf="gameStart" class="clicker__timer">
    <span class="clicker__span">Times left:</span> {{ timer }} sec.
  </div>
  <app-highscores *ngIf="gameFinished"></app-highscores>
  <button
    class="clicker__button button"
    *ngIf="gameFinished"
    (click)="playAgain()"
  >
    play again
  </button>
</div>
