/* You can add global styles to this file, and also import other style files */
$main-blue: rgb(14, 224, 210);
$main-black: rgb(3, 2, 12);
$main-white: rgb(255, 255, 255);
$main-red: rgb(243, 9, 20);
$main-green: rgb(11, 219, 11);
$blue-dark1 :rgb(37, 196, 214);
$blue-dark2:rgb(53, 213, 231);
$blue-light1:rgb(85, 226, 241);
$blue-light2:rgb(166, 243, 252);
