<div class="highscores">
  <button class="highscores__button button" (click)="getAllScores()">
    hightscores
  </button>
  <table *ngIf="showScores" class="highscores__table">
    <tr>
      <th class="highscores__cell">Turn</th>
      <th class="highscores__cell">Name</th>
      <th class="highscores__cell">Score</th>
      <th class="highscores__cell">Date</th>
    </tr>
    <tr lass="highscores__row" *ngFor="let score of hightscores; index as i">
      <td class="highscores__cell">{{ i + 1 }}</td>
      <td class="highscores__cell">{{ score.name }}</td>
      <td class="highscores__cell">{{ score.clicks }}</td>
      <td class="highscores__cell">{{ score.date }}</td>
    </tr>
  </table>
</div>
